body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}
.parent{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    align-items: center ;

}

.common{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    margin: 5px;

   
}
img{
    width: 50px;
}

.one{
      background-color: blue;
      
}

.zero{
    background-color: rgb(191, 255, 0);
}

.two{
    background: red;
}

.three{
    background-color: rgb(85, 23, 23);
}

.four{
    background-color: rgb(255, 196, 0);
}


.five{
    background-color: rgb(22, 104, 0);
}

.seven{
    background-color: aqua;
}

.six{
    background-color: grey;
}

.eight{background-color: blueviolet;

}